<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidores</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/adddistribuidores">Añadir Distribuidor</a></li>
            <li><a href="/updatedistribuidor/">Editar Distribuidor</a></li>
            <li><a href="/deletedistribuidores">Borrar Distribuidor</a></li>
        </ul>
    </nav>





    <h1>Lista de Distribuidores</h1>
    <ul>
        {% for distribuidor in distribuidores %}
            <li>{{ distribuidor }}</li>
        {% endfor %}
    </ul>
</body>
</html>







