<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videojuegos</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/addvideojuegos">Añade un Videojuegos</a></li>
            <li><a href="/updatevideojuegos">Editar un Videojuegos</a></li>
            <li><a href="/deletevideojuegos">Borrar un Videojuegos</a></li>
        </ul>
    </nav>


    <h1>Lista de Videojuegos</h1>
    <ul>
        {% for videojuego in videojuegos %}
            <li>{{ videojuego }}</li>
        {% endfor %}
    </ul>
</body>
</html>






