<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliotecas</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/addtobiblioteca">Añadir un juego a una biblioteca</a></li>
        </ul>
    </nav>





    <h1>Lista de Bibliotecas</h1>
    <ul>
        {% for biblioteca in bibliotecas %}
            <li>{{ biblioteca }}</li>
        {% endfor %}
    </ul>
</body>
</html>










