<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrolladores</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/desarrollador">Desarrolladores</a></li>
            <li><a href="/adddesarrollador">Añadir desarrollador</a></li>
            <li><a href="/updatedesarrollador">Editar desarrollador</a></li>
            <li><a href="/deletedesarrolladores">Borrar desarrollador</a></li>
            
        </ul>
    </nav>





    <h1>Lista de Desarrolladores</h1>
    <ul>
        {% for desarrollador in desarrolladores %}
            <li>{{ desarrollador }}</li>
        {% endfor %}
    </ul>
</body>
</html>
