<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/jugadores">Jugadores</a></li>
            <li><a href="/desarrollador">Desarrolladores</a></li>
            <li><a href="/videojuegos">Videojuegos</a></li>
            <li><a href="/generos">Géneros</a></li>
            <li><a href="/logros">Logros</a></li>
            <li><a href="/comentarios">Comentarios</a></li>
            <li><a href="/dlc">DLC</a></li>
            <li><a href="/bibliotecas">Bibliotecas</a></li>
            <li><a href="/distribuidores">Distribuidores</a></li>
        </ul>
    </nav>

        {% if error_message %}
        <div style="color: red; border: 1px solid red; padding: 10px; margin: 10px 0;">
            <strong>Error:</strong> {{ error_message }}
        </div>
    {% endif %}

</body>
</html>

